/*!======= variables =========*/
 @import url('https://fonts.googleapis.com/css?family=Assistant:300,600|Oleo+Script+Swash+Caps|Open+Sans:300i,600i|Oswald:500,600');

$s1x: 12px;
$s1-5x: 18px;
$s2x: 24px;
$s3x:36px;

$colors : (
	"pink": #ff1fa2,
	"teal": #7CFFE6,
	"darkteal":#00a1a5,
	"yellow": #fef102,
	"textdark": #686a8a,
	"dark-purple": #20007b,
	"ice-blue": #d9fcf8,
    "lavender":  #f0f1ff,
    'purple':#B5CCEA,
	"white":#feffff
    );
    
@function color($key) {
  @return map-get($colors, $key);
}

$bodyFont: 'Assistant', sans-serif;
$cursiveFont: 'Oleo Script Swash Caps', cursive;
$titleFont: 'Oswald', sans-serif;
$default-animation : .25s ease-in;
$materialShadow: 0 8px 6px -6px rgba(0,0,0,.2),  0 0 1px 1px rgba(0,0,0,.06);


/*!======= typebase =========*/
